<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="18a7e8a6-765b-4c59-8f42-19d5c8199282" Publisher="CN=Manuel Vallejos" Version="1.0.0.0" />
  <Properties>
    <DisplayName>trustudy-2014</DisplayName>
    <PublisherDisplayName>Manuel Vallejos</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="trustudy_2014.App">
      <m2:VisualElements DisplayName="trustudy-2014" Square150x150Logo="Assets\SplashScreen White 150.png" Square30x30Logo="Assets\SmallLogo.png" Description="trustudy-2014" ForegroundText="light" BackgroundColor="#943735">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>